<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LifeProManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LifeProManager.Properties.Settings>
            <setting name="WindowWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="appLanguageCode" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="exportMode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="taskDescriptionFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="colorOfMainWindowBackground" serializeAs="String">
                <value>#F5F7FA</value>
            </setting>
            <setting name="colorOfRightPanelBackground" serializeAs="String">
                <value>#F5F7FA</value>
            </setting>
            <setting name="colorOfSecondaryWindowsBackground" serializeAs="String">
                <value>#E6EBEF</value>
            </setting>
            <setting name="colorOfPanelsBackground" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="colorOfInputFieldsBackground" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="colorOfValidateButton" serializeAs="String">
                <value>#B6C0C1</value>
            </setting>
            <setting name="colorOfBirthdayCalendarText" serializeAs="String">
                <value>#355A62</value>
            </setting>
            <setting name="colorOfBirthdayCalendarSquaresPrimary" serializeAs="String">
                <value>#E4F3ED</value>
            </setting>
            <setting name="colorOfBirthdayCalendarSquaresSecondary" serializeAs="String">
                <value>#F1F3F8</value>
            </setting>
            <setting name="colorOfBirthdayCalendarSquaresTertiary" serializeAs="String">
                <value>#FBFCE9</value>
            </setting>
            <setting name="colorOfBirthdayCalendarBackground" serializeAs="String">
                <value>#F5F7FA</value>
            </setting>
            <setting name="colorOfLblTaskDescriptionBackground" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="colorOfLblTaskDescriptionText" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="colorOfTaskTitlesText" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="colorOfInputFieldsText" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="selectedThemeIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </LifeProManager.Properties.Settings>
    </userSettings>
</configuration>